<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{78,1},{75,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{155,1},{75,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{232,1},{75,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{309,1},{75,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet1.png</string>
            <key>size</key>
            <string>{385,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80e5ab9b083b9422c388e5f6f9aa956b:165f213a55f3a5a286235dc992ffb179:4cd55f489520dc70ee11ad705325cb3a$</string>
            <key>textureFileName</key>
            <string>bullet1.png</string>
        </dict>
    </dict>
</plist>
