<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{195,1},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{389,1},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{583,1},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{777,1},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>click.png</string>
            <key>size</key>
            <string>{970,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:453c0ef9dd3ff6cf2cd9b8df5e0836dc:8d6366fd226d59e096285774cd85c1d1:e3c7ce1d2ceafcde80f0ecb912725845$</string>
            <key>textureFileName</key>
            <string>click.png</string>
        </dict>
    </dict>
</plist>
